{
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "printWidth": 100,
  "singleQuote": true,
  "bracketSpacing": true,
  "insertSpaceAfterOpeningAndBeforeClosingEmptyBraces": true,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "endOfLine": "lf"
}
