.reviewForm {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 15px;
}

.reviewForm label {
  display: block;
  margin-bottom: 7px;
}

.reviewForm > *:not(:last-child) {
  margin-bottom: 15px;
}
