.tabsHeader {
  margin: 25px 0;
  display: flex;
  gap: 15px;
}

.tabsBtn {
  padding: 5px 10px;
  cursor: pointer;
}

.tabsBtn:hover {
  opacity: .75;
}

.tabsBtn.isActive {
  pointer-events: none;
  cursor: default;
  text-decoration: underline;
}
