.tabs__header {
  margin: 25px 0;
  display: flex;
  gap: 15px;
}

.tabs__btn {
  padding: 5px 10px;
  cursor: pointer;
}

.tabs__btn:hover {
  opacity: .75;
}

.tabs__btn.is-active {
  pointer-events: none;
  cursor: default;
  text-decoration: underline;
}
