* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.wrapper {
  padding: 25px;
}

.main {
  margin: 30px 0;
}

.tabs__header {
  margin: 25px 0;
  display: flex;
  gap: 15px;
}

.tabs__btn {
  padding: 5px 10px;
  cursor: pointer;
}

.tabs__btn:hover {
  opacity: .75;
}

.tabs__btn.is-active {
  pointer-events: none;
  cursor: default;
  text-decoration: underline;
}

.restaurant-card {
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.restaurant-card:not(:last-child) {
  margin-bottom: 25px;
}

.restaurant-card > *:not(:last-child){
  margin-bottom: 20px;
}

.restaurant-card__subheading {
  margin-bottom: 15px;
}

.restaurant-card__item {
  max-width: 400px;
  display: grid;
  gap: 15px;
  grid-template-columns: minmax(0, 1fr) minmax(100px, 1fr);
  align-items: center;
  padding-left: 15px;
  position: relative;
}

.restaurant-card__item::before {
  content: '-';
  position: absolute;
  left: 0;
}

.restaurant-card__item:not(:last-child) {
  margin-bottom: 15px;
}

.restaurant-card__review:not(:last-child) {
  margin-bottom: 15px;
}
