.header {
  background: #ccc;
  padding: 15px 0;
}

.headerMain {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.headerAside,
.headerCol {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header.isDark {
  background: #777;
}
