*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font: 16px Arial, sans-serif;
  background: #eee;
}
